streamlit==1.49.0
streamlit-option-menu==0.4.0

pandas
numpy<2

Pillow

opencv-python-headless==4.11.0.86

easyocr

spacy

sentence-transformers

transformers

torch

scikit-learn==1.6.1

plotly

beautifulsoup4

requests

lxml

python-dotenv
ddgs
