streamlit==1.49.0
streamlit-option-menu==0.4.0

pandas
numpy

Pillow

opencv-python

easyocr

spacy

sentence-transformers

transformers

torch

scikit-learn

plotly

beautifulsoup4

requests

lxml

python-dotenv
ddgs